* {
  margin: 0;
  padding: 0;
  color: whitesmoke;
  text-decoration: none;
  list-style: none;
  font-family: 'Spartan', sans-serif;
  font-size: 12px; }

#bootstrap-overrides a {
  color: whitesmoke;
  text-transform: uppercase;
  text-decoration: none; }

body {
  height: 100vh;
  display: flex;
  flex-direction: column; }

nav {
  width: 100%;
  background-color: black;
  height: 95px;
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*Barra negra para el menu fijo*/ }
  @media only screen and (max-width: 768px) {
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      nav .nav {
        display: none; } }
  nav #fujiLogo img {
    width: 30%;
    filter: brightness(0) invert(1); }
    @media only screen and (max-width: 768px) {
      nav #fujiLogo img {
        margin-left: 15px; } }

/*Condiciones basicas Desktop*/
.menu__mobile {
  display: none; }
  @media only screen and (max-width: 768px) {
    .menu__mobile {
      display: block;
      z-index: 4;
      right: 10px; }
      .menu__mobile #fujiLogo {
        left: 10px; } }
  .menu__mobile .dropdown-toggle {
    display: flex; }
  .menu__mobile .dropdown-menu.show {
    width: max-content;
    background-color: darkgray; }
  .menu__mobile .oi-menu {
    font-size: 30px; }

a {
  text-transform: uppercase; }

/*Home - Seccion Historia*/
.carousel {
  width: 100%;
  margin-bottom: 60px; }
  @media only screen and (max-width: 768px) {
    .carousel {
      margin-bottom: 10px;
      padding-top: 95px; }
      .carousel .carousel-one {
        background-image: url("../images/fuji_history.jpg"); }
      .carousel .carousel-two {
        background-image: url("../images/fuji_history_1.jpg"); }
      .carousel .carousel-three {
        background-image: url("../images/fuji_history_2.jpg"); } }

.carousel-item {
  width: 100%;
  height: 600px;
  max-height: 600px; }
  @media only screen and (max-width: 768px) {
    .carousel-item {
      background-size: cover;
      background-position: center;
      max-height: 300px; }
      .carousel-item img {
        visibility: hidden; } }

/*Texto destacado de Home - seccion Historia*/
h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 900;
  font-size: 5em;
  text-align: center;
  z-index: 1;
  width: 70%;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 4px 5px; }
  @media only screen and (max-width: 768px) {
    h2 {
      font-size: 20px; } }

/*section bicicletas*/
.section__bicicletas {
  position: relative;
  text-align: center;
  /*Botones*/ }
  .section__bicicletas img {
    width: 100%; }
    @media only screen and (max-width: 768px) {
      .section__bicicletas img {
        margin-top: 15px; } }
  .section__bicicletas a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: darkgrey;
    border-radius: 16px;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    margin: 4px 15px 100px;
    cursor: pointer;
    /*Animacion botones*/ }
    .section__bicicletas a:hover {
      box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4); }

footer {
  margin-top: 60px;
  background-color: #c7c7c7;
  width: 100%; }
  @media only screen and (max-width: 768px) {
    footer {
      margin-top: 10px; } }
  footer p,
  footer legend,
  footer label {
    color: black; }
  @media only screen and (max-width: 768px) {
    footer .home__form {
      display: none; } }
  footer .contenedor__rrssForm {
    display: flex;
    justify-content: space-around;
    margin-top: 60px; }
    @media only screen and (max-width: 768px) {
      footer .contenedor__rrssForm {
        margin-top: 30px; } }
  footer .contenedor__rrss {
    display: flex;
    flex-direction: column; }
    footer .contenedor__rrss .rrss {
      display: inline; }
    footer .contenedor__rrss .rrss img {
      width: 32px;
      height: 32px; }
      @media only screen and (max-width: 768px) {
        footer .contenedor__rrss .rrss img {
          width: 40px;
          height: 40px; } }
  footer .footer__legales {
    margin-top: 10px;
    display: flex;
    justify-content: center; }
    @media only screen and (max-width: 768px) {
      footer .footer__legales {
        margin-left: 10px;
        margin-right: 10px;
        text-align: center; } }

/*Pagina Contacto*/
.main__form-Contacto {
  padding-top: 150px;
  padding-bottom: 150px;
  display: flex;
  justify-content: center;
  /*Ajuste del ancho del form*/
  /*para que el input sea del 100% de la caja*/
  /*Botonera form*/ }
  @media only screen and (max-width: 768px) {
    .main__form-Contacto {
      padding-top: 120px;
      padding-bottom: 49px; } }
  .main__form-Contacto .form__fieldset {
    width: 60%; }
  .main__form-Contacto input {
    width: 100%; }
  .main__form-Contacto legend {
    font-size: 2em;
    padding-bottom: 30px; }
    @media only screen and (max-width: 768px) {
      .main__form-Contacto legend {
        text-align: center; } }
  .main__form-Contacto input[type=text],
  .main__form-Contacto input[type=email] {
    margin-bottom: 15px;
    padding-bottom: 15px;
    color: black; }
  .main__form-Contacto input[name=message] {
    padding-bottom: 100px; }
  .main__form-Contacto .form__botones--padre {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 10px; }
  .main__form-Contacto .form__botones {
    width: 30%; }
  .main__form-Contacto .form__botones,
  .main__form-Contacto legend,
  .main__form-Contacto label {
    color: black; }
  .main__form-Contacto input[type=submit],
  .main__form-Contacto input[type=reset] {
    cursor: pointer; }

/*Seccion Donde Comprar*/
#bootstrap-overrides .mapa__botones-titulo {
  margin-top: 300px;
  display: flex;
  justify-content: center;
  color: black; }
  #bootstrap-overrides .mapa__botones-titulo p {
    color: black;
    font-size: 25px; }
  @media only screen and (max-width: 768px) {
    #bootstrap-overrides .mapa__botones-titulo {
      margin-top: 200px; }
      #bootstrap-overrides .mapa__botones-titulo p {
        text-align: center; } }

#mapa__caba,
#mapa__buenosAires,
#mapa__cordoba {
  position: relative;
  top: -95px; }

/*Botones*/
#bootstrap-overrides .mapa__botones {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 50px;
  padding-top: 5px;
  padding-bottom: 400px; }
  @media only screen and (max-width: 768px) {
    #bootstrap-overrides .mapa__botones {
      flex-direction: column; } }
  #bootstrap-overrides .mapa__botones div {
    background-color: black;
    border-radius: 16px;
    color: whitesmoke;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    margin: 4px 15px 100px;
    cursor: pointer; }
    @media only screen and (max-width: 768px) {
      #bootstrap-overrides .mapa__botones div {
        margin: 4px 15px 50px; } }
    #bootstrap-overrides .mapa__botones div:hover {
      box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
      color: whitesmoke;
      transform: translateY(-7px); }
      #bootstrap-overrides .mapa__botones div:hover .mapa__botones--provincias,
      #bootstrap-overrides .mapa__botones div:hover .contacto {
        text-transform: uppercase; }
  #bootstrap-overrides .mapa__botones p {
    color: black; }

/*fin botones*/
/*mapas*/
.mapa {
  display: flex;
  flex-direction: column;
  align-items: center; }

.row {
  display: hidden; }

.googlemap__mobile {
  display: none; }
  @media only screen and (max-width: 768px) {
    .googlemap__mobile {
      display: block; } }

@media only screen and (max-width: 768px) {
  .googlemap__desktop {
    display: none; } }

.mapa__caba,
.mapa__buenosAires,
.mapa__cordoba {
  display: flex;
  flex-flow: row nowrap;
  padding-bottom: 150px; }
  @media only screen and (max-width: 768px) {
    .mapa__caba,
    .mapa__buenosAires,
    .mapa__cordoba {
      flex-direction: column;
      align-items: center; } }

.mapa__textos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 260px;
  padding-right: 60px; }
  @media only screen and (max-width: 768px) {
    .mapa__textos {
      padding-right: 0px; } }
  .mapa__textos p,
  .mapa__textos .contacto {
    color: black; }
  .mapa__textos .mapa__titulo {
    font-size: 18px; }
  .mapa__textos .contacto {
    font-size: 15px; }

/*Seccion Bicicletas */
/*Portada Seccion Bicicletas*/
.portada__img {
  width: 100%;
  padding-top: 95px;
  margin-bottom: 60px; }

#section__principal {
  position: relative;
  text-align: center; }
  #section__principal p {
    color: whitesmoke;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    width: 70%; }

.portada__titulo {
  font-size: 2em; }
  @media only screen and (max-width: 768px) {
    .portada__titulo {
      padding-top: 50px; } }

.portada__cuerpo {
  padding-top: 160px;
  font-size: 1.2em; }
  @media only screen and (max-width: 768px) {
    .portada__cuerpo {
      display: none; } }

/* FIN Portada Seccion Bicicletas*/
/*Grid para el Main (portada + items del cuerpo)*/
.row__bicicletas {
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-evenly;
  padding-right: 30px;
  text-align: center; }
  .row__bicicletas p {
    color: black;
    font-size: 20px; }
  @media only screen and (max-width: 768px) {
    .row__bicicletas {
      flex-direction: column;
      padding-bottom: 50px; } }
