@import "base/variables";
@import "base/extends";
@import "base/mixins";

* {
    margin: 0;
    padding: 0;
    color: $colorTextoprincipal;
    text-decoration: none;
    list-style: none;
    font-family: 'Spartan', sans-serif;
    font-size: 12px;
}


#bootstrap-overrides a {
    color: $colorTextoprincipal;
    text-transform: uppercase;
    text-decoration: none;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    width: 100%;
    background-color: black;
    height: 95px;
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media only screen and (max-width:768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav {
            display: none;
        }
    }

    /*Barra negra para el menu fijo*/
    #fujiLogo img {
        width: 30%;
        filter: brightness(0) invert(1);

        @media only screen and (max-width:768px) {
            margin-left: 15px;
        }
    }
}

/*Condiciones basicas Desktop*/
.menu__mobile {
    display: none;

    @media only screen and (max-width:768px) {
        display: block;
        z-index: 4;
        right: 10px;

        #fujiLogo {
            left: 10px;
        }
    }

    .dropdown-toggle {
        display: flex;
    }

    .dropdown-menu.show {
        width: max-content;
        background-color: darkgray;
    }

    .oi-menu {
        font-size: 30px;
    }
}

a {
    text-transform: uppercase;
}

/*Home - Seccion Historia*/
.carousel {
    width: 100%;
    margin-bottom: 60px;

    @media only screen and (max-width:768px) {
        margin-bottom: 10px;
        padding-top: 95px;

        .carousel-one {
            background-image: url("../images/fuji_history.jpg");
        }

        .carousel-two {
            background-image: url("../images/fuji_history_1.jpg");
        }

        .carousel-three {
            background-image: url("../images/fuji_history_2.jpg");
        }
    }
}

.carousel-item {
    width: 100%;
    height: 500px;
    max-height: 500px;
    background-size: cover;

    @media only screen and (max-width: 1000px) and (min-width: 400px) {
        height: 300px;
        max-height: 300px;
    }

    @media only screen and (max-width:768px) {
        background-size: cover;
        background-position: center;
        max-height: 300px;

        img {
            visibility: hidden;
        }
    }
}

/*Texto destacado de Home - seccion Historia*/
h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 900;
    font-size: 30px;
    font-size: 5em;
    text-align: center;
    z-index: 1;
    width: 70%;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 4px 5px;

    @media only screen and (max-width:768px) {
        font-size: 25px;
    }
}


/*section bicicletas*/
.section__bicicletas {
    position: relative;
    text-align: center;

    img {
        width: 100%;

        @media only screen and (max-width:768px) {
            margin-top: 15px;
        }
    }

    /*Botones*/
    a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: darkgrey;
        border-radius: 16px;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        margin: 4px 15px 100px;
        cursor: pointer;

        /*Animacion botones*/
        &:hover {
            @extend %accion__botones-hover;
        }
    }
}

footer {
    margin-top: 60px;
    background-color: rgb(199, 199, 199);
    width: 100%;

    @media only screen and (max-width:768px) {
        margin-top: 10px;
    }

    p,
    legend,
    label {
        color: $colorTextosecundario
    }

    .home__form {
        @media only screen and (max-width:768px) {
            display: none;
        }
    }

    .contenedor__rrssForm {
        display: flex;
        justify-content: space-around;
        margin-top: 60px;

        @media only screen and (max-width:768px) {
            margin-top: 30px;
        }
    }

    .contenedor__rrss {
        display: flex;
        flex-direction: column;

        .rrss {
            display: inline;
        }

        .rrss img {
            width: 32px;
            height: 32px;

            @media only screen and (max-width:768px) {
                width: 40px;
                height: 40px;
            }
        }
    }

    .footer__legales {
        margin-top: 10px;
        display: flex;
        justify-content: center;

        @media only screen and (max-width:768px) {
            margin-left: 10px;
            margin-right: 10px;
            text-align: center;
        }

    }
}

/*Pagina Contacto*/
.main__form-Contacto {
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    justify-content: center;

    @media only screen and (max-width:768px) {
        padding-top: 120px;
        padding-bottom: 49px;
    }

    /*Ajuste del ancho del form*/
    .form__fieldset {
        width: 60%;
    }

    /*para que el input sea del 100% de la caja*/
    input {
        width: 100%;
    }

    legend {
        font-size: 2em;
        padding-bottom: 30px;

        @media only screen and (max-width:768px) {
            text-align: center;
        }
    }

    input[type=text],
    input[type=email] {
        margin-bottom: 15px;
        padding-bottom: 15px;
        color: $colorTextosecundario;
    }

    input[name=message] {
        padding-bottom: 100px;
    }

    /*Botonera form*/
    .form__botones--padre {
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding-top: 10px;
    }

    .form__botones {
        width: 30%;

        &:hover {
            @extend %accion__botones-hover;
        }
    }

    .form__botones,
    legend,
    label {
        color: $colorTextosecundario;
    }

    input[type=submit],
    input[type=reset] {
        cursor: pointer;
    }
}

/*Seccion Donde Comprar*/
#bootstrap-overrides .mapa__botones-titulo {
    margin-top: 300px;
    display: flex;
    justify-content: center;
    color: $colorTextosecundario;

    p {
        color: $colorTextosecundario;
        font-size: 25px;
    }

    @media only screen and (max-width:768px) {
        margin-top: 200px;

        p {
            text-align: center;
        }
    }
}

#mapa__caba,
#mapa__buenosAires,
#mapa__cordoba {
    position: relative;
    top: -95px;
}

/*Botones*/
#bootstrap-overrides .mapa__botones {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 50px;
    padding-top: 5px;
    padding-bottom: 400px;

    @media only screen and (max-width:768px) {
        flex-direction: column;

    }

    div {
        background-color: black;
        border-radius: 16px;
        color: $colorTextoprincipal;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        margin: 4px 15px 100px;
        cursor: pointer;

        @media only screen and (max-width:768px) {
            margin: 4px 15px 50px;
        }

        &:hover {
            @include hover__animado(translateY(-7px));

            .mapa__botones--provincias,
            .contacto {
                text-transform: uppercase;
            }
        }
    }

    p {
        color: $colorTextosecundario;
    }
}

/*fin botones*/
/*mapas*/
.mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.row {
    display: hidden;
}

.googlemap__mobile {
    display: none;

    @media only screen and (max-width:768px) {
        display: block;
    }
}

.googlemap__desktop {
    @media only screen and (max-width:768px) {
        display: none;
    }
}

.mapa__caba,
.mapa__buenosAires,
.mapa__cordoba {
    display: flex;
    flex-flow: row nowrap;
    padding-bottom: 150px;

    @media only screen and (max-width:768px) {
        flex-direction: column;
        align-items: center;

    }
}

.mapa__textos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 260px;
    padding-right: 60px;

    @media only screen and (max-width:768px) {
        padding-right: 0px;
    }

    p,
    .contacto {
        color: $colorTextosecundario;
    }

    .mapa__titulo {
        font-size: 18px;
    }

    .contacto {
        font-size: 15px;
    }
}

/*Portada Seccion Bicicletas -- Nevada*/
.portada__img {
    width: 100%;
    padding-top: 95px;
    margin-bottom: 60px;
}

#section__principal {
    position: relative;
    text-align: center;
}


#section__principal p {
    color: $colorTextoprincipal;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    width: 70%;
}

.portada__titulo {
    font-size: 2em;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media only screen and (max-width:768px) {
        top: 60%;

    }
}

.portada__cuerpo {
    padding-top: 160px;
    font-size: 1.2em;

    @media only screen and (max-width:768px) {
        display: none;
    }
}


/* FIN Portada Seccion Bicicletas -- Nevada*/

/*Grid para el Main (portada + items del cuerpo - Nevada & Transonic)*/
#grilla {
    display: grid;
    grid-template-areas:
        "portada portada portada"
        "bicicleta__brickred bicicleta__cyan bicicleta__satin";

    @media only screen and (max-width:768px) {
        grid-template-areas:
            "portada"
            "bicicleta__brickred"
            "bicicleta__cyan""bicicleta__satin";

    }

    grid-template-columns: repeat(auto-fill);
}


div#section__principal {
    grid-area: portada;
}

section.col__productos__uno {
    grid-area: bicicleta__brickred;
}

section.col__productos__dos {
    grid-area: bicicleta__cyan;
}

section.col__productos__tres {
    grid-area: bicicleta__satin;
}

.bicicleta {
    justify-self: center;
    margin-bottom: 150px;
    margin-top: 30px;

    p {
        color: $colorTextosecundario;
        text-align: center;
        font-size: 15px;
        font-weight: 800;
    }
}


/*Grid para el Main (portada + items del cuerpo - SLM)*/
#grilla__slm {
    display: grid;
    grid-template-areas:
        "portada portada"
        "bicicleta__brickred bicicleta__cyan";

    @media only screen and (max-width:768px) {
        grid-template-areas:
            "portada"
            "bicicleta__armygreen"
            "bicicleta__coolgray";
    }
}


div#section__principal {
    grid-area: portada;
}

section.col__productos__uno {
    grid-area: bicicleta__armygreen;
}

section.col__productos__dos {
    grid-area: bicicleta__coolgray;
}


.bicicleta {
    justify-self: center;
    margin-bottom: 150px;
    margin-top: 30px;

    p {
        color: $colorTextosecundario;
        text-align: center;
        font-size: 15px;
        font-weight: 800;
    }
}